body {
    background-color: aqua;
}

.box {
    text-align: center;
    margin-top: 30px
}

table {
    margin: auto;
}

input {
    border-radius: 23px;
    border: 5px solid #244624;
    font-size: 40px;
    height: 100px;
    width: 637px;
}

.long {
    width: 200px;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: #aea8b5;
    width: 122px;
    height: 110px;
    margin: 8px;
}

.calculator {
    border: 4px solid #2d9184;
    background-color: #7166d4;
    padding: 30px;
    border-radius: 23px;
    display: inline-block;

}

footer {
    font-size: medium;
    text-align: center;
    color: red;
    padding-top: 50px;
    text-decoration: underline;
}

button:hover {
    background-color: white;
}

#red:hover {
    background-color: red;
}
#green:hover {
    background-color: green;
}